@import "tailwindcss";
@import "tw-animate-css";
/* @import url('./menu.css'); */
@import "./menu.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-montserrat: 'Montserrat', sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-gold: #C5AF62;
  --color-title: #343434;
  --color-content: #848484;
  --color-bggray: #F1F0EB;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.container {
  @apply !w-full !max-w-[1224px] px-3 m-auto;
}

.MenuItem {
  @apply py-2 lg:py-9 relative outline-none;
}

.MenuItem::after {
  content: '';
  @apply w-full h-[5px] bg-transparent absolute left-0 bottom-0 transition-all;
}

.MenubarContent {
  @apply bg-white w-[230px]
}

.MenubarItemSub {
  @apply flex !justify-between w-full px-[15px] py-[10px] !text-[15px] font-medium !text-[#343434]
}

.button-geral {
  @apply py-[11px] px-[17px] md:py-[14px] md:px-[20px] bg-white text-[#343434] font-inter uppercase font-normal text-[13px] md:text-[14px] leading-[19px] inline-flex gap-[9px] transition-all items-center
}

.button-geral:hover {
  @apply bg-black text-white
}

.content p {
  @apply m-0 mb-[25px] text-[17px] text-content leading-[20px] font-inter font-light
}

.content h2 {
  @apply text-[25px] font-montserrat text-gold font-semibold leading-[30px] m-0 mb-[5px]
}

.content h3 {
  @apply text-gold text-[20px] font-montserrat leading-[24px] mb-[5px]
}

.content ul {
  list-style: inherit;
  @apply m-0 text-[17px] text-content leading-6 font-inter font-light pl-5 mb-[30px] -mt-5
}

.content.content-property ul {
  @apply mt-0
}

.content h2 {
  @apply font-normal
}

.content h2 strong {
  @apply font-semibold
}

.content strong {
  @apply !font-semibold
}

.content ::marker {
  @apply text-gold;
}

.content h4 {
  @apply text-[22px] font-montserrat text-gold font-semibold leading-[27px] m-0 mb-[5px]
}

.content hr {
  @apply border-0 mt-[30px] mb-[30px] w-full h-[1px] bg-gold
}

.content table {
  @apply !border-0
}

.content table td {
  @apply align-top
}

.content table tr td:nth-child(1) {
  @apply !pr-[15px]
}

.content table tr td:nth-child(2) {
  @apply !pl-[15px]
}

.content strong {
  @apply font-bold
}

.box-sobre-missao {
  @apply bg-bggray rounded-[0_20px_20px_20px] p-[0_30px_30px_30px]
}

.box-sobre-missao .title {
  @apply bg-gold rounded-[0_20px_20px_20px] text-[22px] font-semibold font-montserrat leading-[27px] w-full max-w-[160px] py-[15px] text-white text-center mx-auto mt-[-28px] mb-5
}

.box-sobre-missao p {
  @apply m-0 text-[17px] text-title leading-[22px] font-inter font-light text-center
}

.title-card {
  @apply text-white text-[25px] font-montserrat font-normal
}

.title-card strong {
  @apply font-semibold
}

.breadcrumb-list {
  @apply flex justify-center gap-[3px]
}

.breadcrumb-list li {
  @apply text-white font-inter font-light text-[14px] leading-[19px]
}

.title-card-contato {
  @apply text-[25px] font-montserrat font-normal leading-[30px] text-gold mb-[5px] tracking-[-0.63px] text-center
}

.title-card-contato strong {
  @apply font-semibold
}

.fone-card-items {
  @apply my-[10px]
}

.fone-card-items span {
  @apply block font-montserrat font-semibold text-[22px] leading-[26px] text-gold text-center
}

.gm-style-iw-d {
  @apply mt-[-30px]
}

.card-type-button {
  @apply flex flex-col items-end
}

.card-type-button .card-title {
  @apply w-full max-w-[181px] mx-auto bg-white flex gap-[5px] rounded-[10px_10px_10px_0px] h-[52px] items-center justify-center text-[18px] font-montserrat font-semibold text-title mt-[-25px] transition-all
}

.card-type-button:hover .card-title {
  @apply bg-gold text-white
}

.search-tablist {
  @apply p-0 bg-transparent border-0
}

.search-tab {
  @apply font-montserrat text-[14px] md:text-[18px] font-medium  leading-[22px] rounded-none px-[15px] py-2 mr-[1px] bg-gold text-white hover:!bg-white hover:!text-title data-[state=active]:!bg-white data-[state=active]:!text-title
}

.property-types {
  @apply flex justify-between mb-1
}

.property-types span {
  @apply uppercase font-inter text-[14px] text-title leading-[19px] font-normal
}

.property-types span.delivery {
  @apply text-content
}

.mySwiperProperty {
  @apply h-full min-h-[282px]
}

.mySwiperPropertyOverlay {
  @apply w-full h-full bg-black/60 absolute top-0 left-0 z-10 flex flex-col items-center justify-center opacity-0 pointer-events-none transition-all
}

.mySwiperPropertySlide {
  @apply relative
}

.mySwiperPropertySlide:hover .mySwiperPropertyOverlay {
  @apply opacity-100
}

.filterProperty button {
  @apply bg-white rounded-[5px] h-[37px] md:h-[47px] font-inter text-content text-[12px] md:text-[15px] px-[15px] border-[2px] border-[#DDDDDD] shadow-none
}

.filterProperty button svg {
  @apply w-[20px] h-[20px]
}

.icon-social svg {
  @apply w-[29px] h-[29px] text-[#343434] lg:text-white transition-all hover:text-[#C5AF62]
}




/* CONTATO */
.form-contato input,
.form-contato textarea {
  @apply !border-0 !shadow-none bg-white rounded-none font-montserrat text-[14px] md:text-[18px] text-title font-normal leading-[22px] p-5 h-[50px] md:h-[62px]
}

.form-contato textarea {
  @apply h-[134px]
}

.form-contato .form-select button {
  @apply bg-white rounded-none h-[50px] md:h-[62px] font-montserrat text-content text-[14px] md:text-[18px] px-5 border-0 shadow-none
}

.form-contato .form-select button svg {
  @apply w-[25px] h-[25px]
}

.form-label-accept {
  @apply font-inter text-[15px] text-black leading-[20px] font-normal
}

.form-button-submit {
  @apply border-0 shadow-none rounded-none uppercase font-inter font-medium text-[14px] leading-[19px] py-[14px] px-[15px] flex gap-[14px] h-[47px] hover:!bg-gold items-center
}

/* FOOTER */
.footer-title_units {
  @apply text-white text-[20px] font-normal leading-[24px] font-montserrat
}

.footer-title_units strong {
  @apply font-semibold
}

.footer-links h4 {
  @apply font-montserrat text-[20px] font-semibold leading-[24px] text-gold mb-[3px]
}

.footer-links a {
  @apply font-inter text-[17px] leading-[24px] text-white font-light transition-all
}

.footer-links a:hover {
  @apply text-gold
}

@media(max-width: 767px) {
  .MenuItem::after {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  address {
    font-style: normal;
  }

  button {
    @apply cursor-pointer;
  }
}
